.btn-submit {
    width: 200px;
    padding: .7rem;
    background-color: #55b0e8;
    color: white
    ;
    
}

body{
    background-image: url(../Images//Brown\ White\ Professional\ Business\ Wattpad\ Book\ Cover.png);
    background-size:contain;
    background-repeat: no-repeat;
 
    
}

