.btn-submit {
    width: 200px;
    padding: .7rem;
    background-color: #050839;
    color: white
    ;
    
}
.logo{
    width: 600px;
}
@media (max-width:769px) {
    .logo{
        width: 400px;
    }
    
}

body{
    margin-top: 2rem;
    background-image: url(../Images/design4.jpg);
    background-size:cover;
    background-repeat: no-repeat;
 
    
}
form{
    background-color:rgba($color: #FFF, $alpha: 0.4);

}



/* CSS */
.button-1 {
  background-color: #050839;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 20px;
  outline: none;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
  background-color: white;
  color: #050839;
}




