.btn-submit {
    width: 200px;
    padding: .7rem;
    background-color: #55b0e8;
    color: white
    ;
    
}

body{
    margin-top: 2rem;
    background-image: url(../Images/design1.png);
    background-size:contain;
    background-repeat: no-repeat;
 
    
}
form{
    background-color:rgba($color: #FFF, $alpha: 0.1);

}
