.btn-submit {
    width: 200px;
    padding: .7rem;
    background-color: #55b0e8;
    color: white
    ;
    
}

body{
    background-image: url(../Images/bg-modern.jpg) 0;
    background-size: contain;
    
}

